#grayspace{
    background-color: lightgrey;
}

h1{
    font-size:x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

h2{
    color:teal;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color:teal;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tealbackground {
    background-color: teal;
    color: white;
    width: 140px;
    padding: 15px;
    margin-bottom:0px;
}

#info{
    border: 1cm lightgrey;
}

#viz{
    width: 120px;
    height: 120px;
    margin-left:10px;
}

#featured{
    width: 200px;
    height: 200px;
    float: left;
}