#grayspace{
    background-color: lightgrey;
}

body{
    background-color: lightgrey;
}

h1{
    font-size:x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

h2{
    color:teal;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color:teal;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-brand {

    font-size:x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.navbar-toggler{
    background-color: teal;
    color: rgb(197, 107, 107);
    padding: 15px;
    margin-bottom:0px;
    font-size:x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#info{
    background-color: white;
}

#viz{
    width: 120px;
    height: 120px;
    margin-left:10px;
}

#featured{
    width: 200px;
    height: 200px;
    float: left;
}

.box{

    background-color: white;
}